#
# eForsyning
#

EFORSYNING_USERNAME=your_username
EFORSYNING_PASSWORD=your_password
EFORSYNING_SUPPLIER_ID=123


#
# MQTT
#

MQTT_HOST=192.168.178.12
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=eforsyning


#
# Polling
#

POLLING_INTERVAL=60